.navigation-bar {
  height: 60px;
  box-shadow: 1px 0px 5px rgba(3, 3, 3, 0.2);
  padding: 10px;
  .container {
    display: flex;
    flex-direction: row;
    height: 100%;
    display: flex;
    justify-content: space-between;
    position: relative;
    .container-left {
      padding: 10px;
      border-radius: 8px;
      box-shadow: 0 2px 6px 0 rgba(0, 73, 112, 0.2);
      display: flex;
      justify-content: center;
      align-items: center;
      span {
        font-family: "Roboto", sans-serif;
        font-size: 26px;
        margin: 0 auto;
      }
    }
    .container-right {
      button {
        font-family: "Roboto", sans-serif;
        font-size: 14px;
        margin: 0 0 0 60px;
        padding: 0;
        border: none;
        background: none;
        cursor: pointer;
        outline: none;
      }
      button:hover {
        border-bottom: solid grey 2px;
      }
      button:active {
        border-bottom: solid black 2px;
      }
    }
  }
}
