@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,600");

$primary-blue: #004970;
$primary-white: #ffffff;
$secondary-yellow: #f6b11f;
$secondary-blue: #4b91f7;

$primary-font: "Roboto", sans-serif;
